{
    "presets": [
        "@babel/react",
        ["@babel/env",
        {
            "targets": {
                "node": "16.17.1",
                "chrome": "108"
            }
        }]
    ]
}